<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav">
    <li class="active">
      <%= link_to t('list'), students_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('registration'), new_student_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('statistic'), :pages, :class => 'nav-link' %>
    </li>
    <li class="nav-item" >
      <%= link_to 'English', root_path(locale: :en), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Українська', root_path(locale: :ua), :class => 'nav-link' %>
    </li>
  </ul>
</nav>

<h3><%= t('list_of_students') %></h3>

<% @students.each do |s| %>
  <ul>
    <%= s.lastname %>
    <%= t('group') %>:
    <%= s.group %>
    <%= t('geometry') %>:
    <%= s.geom %>
    <%= t('algebra') %>:
    <%= s.alg %>
    <%= t('IT') %>:
    <%= s.inf %>
    <div style="float: right; margin-left: 3px">
      <%= button_to t('delete'),
                    student_path(s),
                    method: :delete,
                    remote: true,
                    data: {confirm: "Are you certain you want to delete this?"},
                    :class => 'btn btn-danger' %>
    </div>
    <div style="float: right;">
      <%= link_to t('show'),
                  student_path(s),
                  :class => 'btn btn-success' %>
      <%= link_to t('edit'),
                edit_student_path(s),
                :class => 'btn btn-warning' %>

    </div>
  </ul>
<% end %>